body {
  background-color: black;
  border-radius: 5px;
}

button {
  background: black;
  border: none;
  color: white;
}
i {
  color: white;
}
.fa-globe {
  padding: 10px;
  border-radius: 50%;
}

.fa-globe:hover {
  background-color: rgb(40, 44, 44);
  cursor: pointer;
}

.mainHeader {
  margin-top: 20px;
  width: inherit;
  display: flex;
  align-items: center;
}

.mainHeader_hide {
  display: none;
}

.subHeader_hide {
  display: none;
  opacity: 0;
}

.mainHeader-divisions {
  flex: 1;
  align-items: center;
  text-align: center;
}

.mainHeader-divisions-1 {
  display: flex;
  margin-left: 60px;
}

.mainHeader-divisions-1__name {
  font-size: 25px;
  font-weight: 600;
}

.mainHeader-divisions-1__name:hover {
  cursor: pointer;
}

.mainHeader-divisions-1__name:hover .bottomDiv {
  font-size: 13px;
  font-weight: 300;
  width: fit-content;
  background-color: white;
  padding: 2px;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  display: inline-block;
  z-index: 2;
  color: black;
}
.fa-airbnb {
  font-size: 35px;
  font-weight: 800;
}
.bottomDiv {
  display: none;
}
.fa-airbnb:hover .bottomDiv {
  font-size: 13px;
  font-weight: 300;
  width: fit-content;
  background-color: white;
  padding: 2px;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  display: inline-block;
  z-index: 2;
  color: black;
}
.fa-airbnb:hover {
  cursor: pointer;
}
.mainHeader-divisions-2__headings {
  font-size: 16px;
  font-weight: 400;
}

.mainHeader-divisions-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeader-divisions-3__headings {
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  border-radius: 20px;
}

.mainHeader-divisions-3__headings:hover {
  background-color: rgb(40, 44, 44);
  cursor: pointer;
}
.mainHeader-divisions-3-login {
  height: 40px;
  width: 80px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
}

.subHeader {
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  height: auto;
  width: 60%;
  display: flex;
  background-color: white;
  border-radius: 60px;
  text-align: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.subHeader-Divisions {
  flex: 1;
  border-right: 1px solid lightgray;
  margin-top: 12px;
  margin-bottom: 12px;
}

.subHeader-Divisions:hover {
  background-color: lightgray;
  border-radius: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.subHeader div:hover ~ div {
  border-right: 1px solid lightgray;
}

.subHeader:hover > div {
  border: none;
}
.subHeader-Divisions__firstLine {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
  padding-bottom: 2px;
}
.subHeader-Divisions__secondLine {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: gray;
  padding-top: 4px;
}

.fa-search {
  font-size: 14px;
  font-weight: 200;
  padding: 16px;
  background-color: rgb(211, 65, 138);
  border-radius: 50px;
  margin-right: 10px;
}

.fa-user-circle {
  flex: 1;
  font-size: 30px;
  margin-left: 0px;
  color: grey;
}
.fa-bars {
  flex: 1;
  font-size: 15px;
  margin-right: 0px;
  color: black;
}
.scrollHeader-Divisions-search {
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  /* border-right: none; */
  background-color: white;
  border-radius: 30px;
  border: 1px solid lightgray;
  padding: 5px;
}
.subHeader-Divisions-search {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-right: none;
}

.headerOnScroll {
  padding: 20px;
  width: inherit;
  align-items: center;
  display: none;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.headerOnScroll_show {
  display: flex;
  transition-delay: 10s;
}

.scrollHeader-divisions-1 {
  color: rgb(226, 82, 154);
  background-color: white;
}

.scrollHeader-divisions-3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  background-color: white;
}

.scrollHeader-divisions-3-login_border {
  border: 1px solid lightgray;
}

.scrollHeader_fa-search {
  font-size: 12px;
  font-weight: 200;
  padding: 12px;
  background-color: rgb(211, 65, 138);
  border-radius: 50px;
  margin-right: 10px;
}

.firstBackgroundImage {
  height: 600px;
  width: inherit;
  margin: 40px;
  margin-top: 130px;
  border-radius: 20px;
  position: relative;
  background-image: url("./images/Landscape-Color.jpg");
}

.firstBackgroundImage__slogan {
  position: absolute;
  bottom: 25px;
  left: 20%;
  font-size: 60px;
  font-weight: 800;
  color: brown;
  z-index: 2;
}

.firstBackgroundImage__searchText {
  font-size: 20px;
  font-weight: 600;

  padding: 18px;
  border-radius: 30px;

  position: absolute;
  bottom: 5px;
  left: 45%;
  background: white;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.giftCard {
  width: "inherit";
  height: 600px;
  background-color: rgb(182, 179, 176);
  margin: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.giftCard__firstHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.giftCard__firstHalf-intro {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.giftCard__firstHalf-info {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 95px;
  font-weight: 400;
  margin: 0;
}

.giftCard__firstHalf-button {
  background-color: black;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  border-radius: 10px;
  padding: 15px 20px;
}

.giftCard__image {
  flex: 1;
}

.giftCard__image-image1 {
  height: 250px;
  width: 350px;
  border-radius: 20px;
  z-index: 0;
  background-color: rgb(196, 48, 196);

  transform: translate(150px) rotate(-30deg) skewX(20deg);
}

.giftCard__image-image2 {
  height: 250px;
  width: 350px;
  border-radius: 20px;
  z-index: 3;
}
